@import '../../../../colors.scss';
.postDetail-container{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    margin-left: 461px;
    margin-bottom: 248px;
}
h2{
    text-align: center;     

}