@import "../../colors.scss";

.profile-container{
    max-width: 600px;
    
    text-align:center;
    background-color: $pink;
}
.card-profile {
    width: 100%;
    border-radius: 20px;
    height: 250px;
    background: $primaryColor;
    color: azure;
    overflow: hidden;
    padding: 14px;  
    position: relative;
    font-size: 14px;
    text-align: center;
    box-shadow: 2px 2px 4px 1px rgb(27, 27, 27);
    header {
        &.user {
            display: flex;
            gap: 12px;

            img {
                height: 200px;
                width: 200px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
    main p {
        font-size: 14px;
        color: #fff;

    }
    section {
        display: flex;
        align-items: center;

        .users-avatars {
            margin-right: 21px;
            display: flex;
            align-items: center;

            img {
                height: 32px;
                width: 32px;
                object-fit: cover;
                border-radius: 50%;
                border: 3px solid #191A1D;
                margin-right: -21px;
            }
        }

        p {
            color: azure;
            font-size: 12px;
            margin-left: 10px;
        }

        p.comment {
            display: flex;
            flex-direction: row;
        }
        p.dateTime{
            display: flex;
            margin-left: 200%;
        }
    }
}

h1{
    text-align: start;
}
