@import "../../colors.scss";
*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: $pink;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.column{
    display: flex;
    flex-direction: column;
    width: 33%;
    margin: 3px 3px 3px 3px;
    text-align: center;
    border-radius: 5px;
    padding: 1%;
}

hr{
    border: 1px solid black;
    width: 100%;
}

@media only screen and (max-width: 530px) {
.profile{
    display:none;
}
.following{
    display:none;
}
.posts{
    width: 100%;
}
}