@import '../../colors.scss';

*{
    margin: 0;
    box-sizing: 0;
}
body{
    height: 600px;
}
.mainLogin{
    width: 40%;
    flex-direction: column;
    margin-left: 345px;
    margin-top: 100px;
    margin-bottom: 221px;
}
form{
    padding-top: 30px;
    display: flex;
    width: 500px;
    flex-direction:column;
    width: 60%; 
}